<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="/css/Login.css" rel="stylesheet" id="login-css">
    <!-- <script type="text/javascript" language="javascript" src="/js/validateLogin.js"></script> -->

    <meta charset="UTF-8">
    <title>Login</title>
</head>


<div class="sidenav">
    <div class="login-main-text">

        <h2>CataMúsico<br> Login</h2>
        <p>Faça Login ou Cadastre-se.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form class="was-validated" id="form-login" th:action="@{/login}" method="post">
                <div class="form-group">
                    <label class="form-label" for="validationCustom01">E-mail</label>
                    <input id="username" name="username" type="text" class="form-control" placeholder="E-mail" required>
                    <div class="invalid-feedback">
                        Informe seu email
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="validationCustom02">Senha</label>
                    <input id="password" name="password" type="password" class="form-control" placeholder="Senha"
                        required>
                </div>
                <button type="submit" class="btn btn-black">Entrar</button>
                <a href="/register" class="btn btn-secondary">Cadastre-se</a>
            </form>
        </div>
        <div th:if="${param.error}" class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="bi bi-x-circle"></i> <span> Usuário ou senha incorretos</span>
        </div>
    </div>
</div>

</html>