<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="/css/Login.css" rel="stylesheet" id="login-css">
	<script type="text/javascript" language="javascript" src="/js/form.js"></script>

	<meta charset="UTF-8">
	<title>Cadastro</title>
</head>

<body>
	<div class="sidenav">
		<div class="login-main-text">
			<h2>
				CataMúsico<br>Cadastro
			</h2>

		</div>
	</div>
	<div class="main">
		<div class="col-md-6 col-sm-12">
			<div class="register-form">
				<form id="form-login" method="post" th:object="${user}" th:action="@{/save}" enctype="multipart/form-data">

					<div class="form-group">
						<label>Nome</label> <input th:field="*{name}" id="name" name="name" type="text"
							class="form-control" placeholder="Nome" required>
					</div>
					<div class="form-group">
						<label>E-mail</label> <input th:field="*{email}" id="email" name="email" type="email"
							class="form-control" placeholder="E-mail" required>
					</div>
					<div class="form-group">
						<label>Senha</label> <input th:field="*{password}" id="password" name="password" type="password"
							class="form-control" placeholder="Senha" required>
					</div>
					<div class="form-group">
						<label>Estado</label>
						<select th:field="*{state}" class="form-control" id="state" required>
						</select>
					</div>
					<div class="form-group">
						<label>Cidade</label>
						<select th:field="*{city}" class="form-control" id="city" required>
						</select>
					</div>
					<div class="form-group">
						<label>Genero Musical</label> <input th:field="*{musicGenre}" id="musicGenre" name="musicGenre"
							type="text" class="form-control" placeholder="Genero Musical" required>
					</div>
					<div class="form-group">
						<label>Contato</label> <input th:field="*{contact}" id="contact" name="contact" type="text"
							class="form-control" placeholder="Contato" required>
						<small id="contactHelpText" class="form-text text-muted"> Insira aqui seu telefone, email ou sua
							rede social para ser contatado </small>
					</div>
					<div class="form-group">
						<div class="form-check">
							<input value="band" class="form-check-input" type="radio" name="profileType" id="band"
								checked> <label class="form-check-label" for="band">
								Banda </label>
						</div>
						<div class="form-check">
							<input value="musician" class="form-check-input" type="radio" name="profileType"
								id="musician"> <label class="form-check-label" for="musician">
								Músico </label>
						</div>
					</div>
					<div id="instrument-div" class="form-group">
						<label>Instrumento</label> <select th:field="*{instrument}" class="form-control" id="instrument"
							name="instrument">
							<option value="">Instrumento</option>
							<option value="Baixo">Baixo</option>
							<option value="Bateria">Bateria</option>
							<option value="Guitarra">Guitarra</option>
							<option value="Vocal">Vocal</option>
						</select>
					</div>
					<div id="experienceLevel-div" class="form-group">
						<label for="experienceLevel">Nível de conhecimento</label>
						<select th:field="*{experienceLevel}" class="form-control" id="experienceLevel">
							<option value="">Nível de conhecimento</option>
							<option value="Iniciante">Iniciante</option>
							<option value="Intermediário">Intermediário</option>
							<option value="Profissional">Profissional</option>
						</select>
					</div>
					<div id="experiences-div" class="form-group">
						<label for="experiences">Experiencias</label>
						<textarea th:field="*{experiences}" class="form-control" id="experiences" rows="3"></textarea>
					</div>
					<div id="media-div" class="form-group">
						<label for="media">Midia</label> 
						<input type="file" multiple class="form-control-file" id="media" th:field="*{files}" accept="image/*,video/*"> 
						<small
							id="mediaHelpText" class="form-text text-muted">
							Insira aqui arquivos para seu portfólio musical. O primeiro arquivo de imagem será sua foto de perfil.
						</small>
					</div>
					<button type="submit" class="btn btn-secondary">Cadastre-se</button>
				</form>

			</div>
		</div>
	</div>
</body>

</html>